* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    width: 100%;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}

.left-section {
    display: flex;
    align-items: center;
    gap: 10px;
}


.menu {
    display: flex;
    gap: 50px;
}

.menu a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

.right-section .access-btn {
    background-color: #2d824a;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
}