* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    width: 100%;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}

.left-section {
    display: flex;
    align-items: center;
    gap: 10px;
}


.menu {
    display: flex;
    gap: 50px;
}

.menu a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

.right-section .access-btn {
    background-color: #2d824a;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
}

/* hero */


.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url(assets/hero-bg.png);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlayout {
  position: absolute;
  inset: 0;
  background: rgba(10, 25, 40, 0.7);
  backdrop-filter: blur(2px);
}

.content {
  position: relative;
  color: white;
  max-width: 900px;
  padding: 20px;
}

.box {
  display: inline-block;
  background: white;
  color: #30B868;
  padding: 6px 18px;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 25px;
  font-weight: 600;
}

h1 {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 25px;
  font-weight: bold;
}

h1 span {
  color: #30B868;
}

p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 35px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  
}

.btn {
  padding: 14px 24px;
  font-size: 15px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  
}

.primary {
  background: #30B868;
  color: white;
}

.primary:hover {
  background: #30B868;
}

.outline {
  border: 2px solid white;
  color: white;
}

.outline:hover {
  background: white;
  color: black;
}